[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
debugpy = "*"
pytest = "*"
python-dotenv = "*"

[packages]
flask = "*"
flask-restful = "*"
marshmallow = "*"
flask-cors = "*"
tasklib = "*"
pyjwt = "*"

[requires]
python_version = "3.9"

[scripts]
serve = 'flask run'
tests = 'pytest'
add_user = 'python scripts/add_user.py'
delete_user = 'python scripts/delete_user.py'
